.main {
    display: flex;
}

.side_menu {
    width: 300px;
    height: 1350px;
    background-color: #80bfa8;
}

h1{
    margin: 26px 10px 60px 0px;
    font-size: 18px;
    text-align: center;
}

.paragraph {
    list-style: none;
    font-size: 12px;
    flex-wrap: wrap;
}

.paragraph--one {
    margin: 0px 23px 12px 26px;
}

.paragraph--two {
    margin: 0px 23px 12px 26px;
}

.paragraph--three {
    margin: 0px 23px 12px 26px;
}

@media screen and (max-width: 795px) {

    /* sp用スタイル */
    .main {
        display: block;

    }

    .side_menu {
        width: 100%;
        height: 400px;
        position: relative;

    }

    h1 {
        text-align: unset;
        position: absolute;
        margin: 60px 0px 30px 50px;
        font-size: 3vw;
    }

    .paragraph {
    font-size: 2vw;
    }

    .paragraph--one {
        position: absolute;
        margin: 100px 0px 30px 50px;
    }

    .paragraph--two {
        position: absolute;
        margin: 180px 0px 30px 50px;
    }

    .paragraph--three {
        position: absolute;
        margin: 260px 0px 30px 50px;
    }
}