.L-work {
    width: 100%;
    height: 1100px;
    background-color: #C0C0C0;
    padding-top: 15px;
}

.L-work__container {
    text-align: center;
}

h3 {
    /* WORKの見出し部分 */
    font-style: bold;
    font-size: 30px;
    margin: 100px 0px 30px 0px;
    opacity: 0.9;
}