@media screen and (max-width: 796px) {

    /* pc用スタイル 796px*/
    .P-blog__detail--first {
        /* 45 Minimal Workspace Rooms for Web Savvys */
        overflow-wrap: break-word;
    }

    .P-blog__detail--second {
        /* Far far away, behind the word mountains, far from the countries Vokalia and Consonantia */
        overflow-wrap: break-word;
    }

    .P-blog__detail__picture {
        /* BLOGのイラスト部分 */
        width: 50vw;
    }

    br {
        display: none;
    }
}