.C-vertical-line {
    /*背景の縦線*/
    display: flex;
    height: 98.9%;
    width: 100%;
    position: absolute;
    padding: 0 2%;
    justify-content: space-between;
    opacity: 0.4;
}

.C-vertical-line span {
    /*背景の縦線の幅の設定*/
    border-right: 1px solid #808080;
    height: 100%;
    z-index: 0;
    width: 33.33%;
}

.C-vertical-line span:first-child {
    /*最初の線の設定*/
    border-left: 1px solid #808080;
}

@media screen and (max-width: 1125px) {
    .C-vertical-line {
        padding: 0 8%;
    }
}


@media screen and (max-width: 795px) {
    .C-vertical-line {
    display: none;
    }
}
